body{
	background-position: absolute;
	background: url("https://wallpaperaccess.com/full/2015334.jpg") no-repeat, linear-gradient(rgb(211, 211, 211),lightgrey);
	background-size: cover;	
	height:100vh;
	
}

.head1{
	position:absolute;
	left: 43.5%;
	top:5%;
	color:white;
	font-size: 50 px;
}
h2{
	color: white;
	position:absolute;
	left: 40.5%;
	top:15%;
}

.s button{
	border:none;
	outline:none;
	height:40px;
	color:blue;
	background:yelow;
	border-radius:20px;
	width:200px;
	top: 80&;
}

#container {
    height: 120px;
    position: relative;
    top: -35%;
}
  
#center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#textStart h2{
	position: absolute;
	color: white;
	left: 50%;
	top: -205%;
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	
}
#textStart p{
	position: absolute;
	color: white;
	left: 54%;
	top: -155%;
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#imageStart{
body{
	background-position: absolute;
	background: url("https://wallpaperaccess.com/full/2015334.jpg") no-repeat, linear-gradient(rgb(211, 211, 211),lightgrey);
	background-size: cover;	
	height:100vh;
	
}

.head1{
	position:absolute;
	left: 43.5%;
	top:5%;
	color:white;
	font-size: 50 px;
}
h2{
	color: white;
	position:absolute;
	left: 40.5%;
	top:15%;
}

.s button{
	border:none;
	outline:none;
	height:40px;
	color:white;
	background:red;
	border-radius:20px;
	width:200px;
}

#container {
    height: 120px;
    position: relative;
    top: -35%;
}
  
/*#center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/
#textStart p{
	position: absolute;
	color: red;
	left: 55%;
	top: -155%;
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


